{% extends 'base.html' %}
{% block title %}Buscar por Área{% endblock %}
{% block body %}

<h1>Áreas</h1>

<table id="actoresTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Areas</th>
        </tr>
    </thead>
    <tbody>
        {% for area in areas %}
        <tr>
            <td><a href="{{ url_for('revistas_por_area', nombre_area=area) }}">{{ area }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="list-group mt-3">
    {% for journal in journals %}
        <li class="list-group-item">
            <a href="{{ journal.url }}" target="_blank">{{ journal.title }}</a> – {{ journal.publisher }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
