{% extends 'base.html' %}

{% block title %}Créditos{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Créditos de Alumno</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Expediente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Genaro Esteban Islas Alcaraz</td>
                <td>223215520</td>
            </tr>
            <tr>
                <td>Ian Manuel Rodriguez Mendoza</td>
                <td>223214032</td>
            </tr>
            <tr>
                <td>Hector David Iduma Felix</td>
                <td>223204508</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
