{% extends "base.html" %}
{% block title %}Revista - {{ revista.title }}{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ revista.title }}</h1>
            <div class="row">
                <div class="col-md-12">
                    <p class="card-text"><b>H-Index:</b> {{ revista.h_index }}</p>
                    <p class="card-text"><b>Áreas temáticas:</b> {{ revista.subject_area | join(', ') }}</p>
                    <p class="card-text"><b>Editorial:</b> {{ revista.publisher }}</p>
                    <p class="card-text"><b>ISSN:</b> {{ revista.issn }}</p>
                    <p class="card-text"><b>Tipo de publicación:</b> {{ revista.publication_type }}</p>
                    <p class="card-text"><b>URL de búsqueda:</b> <a href="{{ revista.search_url }}" target="_blank">{{ revista.search_url }}</a></p>
                    <p class="card-text"><b>URL del widget:</b> <a href="{{ revista.widget_url }}" target="_blank">{{ revista.widget_url }}</a></p>
                    <p class="card-text"><b>HTML del widget:</b></p>
                    <div class="border p-2">
                        {{ revista.widget_html | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
