{% extends 'base.html' %}
{% block title %}Revistas en {{ area }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Revistas en el área: {{ area }}</h1>
    {% if journals %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Numero de Indice</th>
            </tr>
        </thead>
        <tbody>
            {% for journal in journals %}
            <tr>
                <td><a href="/revista/{{ journal.h_index }}">{{ journal.title }}</a></td>
                <td>{{ journal.h_index }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No se encontraron revistas en esta área.</p>
    {% endif %}
</div>
{% endblock %}
